<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API Documentation</title>
</head>
<body>
<h1>Welcome to the API of Placemark</h1>
<p>This page is the landing page for the api but serves no other purpose</p>
<p>To access the API documentation, please go to <a href="/documentation">/documentation</a>.</p>
<p>If you are looking for the main site, you can reach it <a href="https://globelens.netlify.app"> here </a> </p>
</body>
</html>
